div{
    padding: 10px;
    border: 10px solid #d0d0d0;
    width: 100px;
    height:100px;
    box-sizing: border-box;
    margin: auto;
}

img {
    width: 100px;
    height:100px;
}

/*
1. Resalta el texto encerrado en **<mark>**
2. 
* **Block:** Pone los <div> del tamaño de 100px pero uno debajo de otro.
* **Inline:** Pone los <div> en el minimo tamaño y uno al lado del otro formando una linea horizontal
* **Inline-block:** Pone los <div>  en horizontal pero ahora los bloques ocupan los 100px, 
* **None:** los bloques dessaparecen

3. La imagen queda como linea horizontal con el parafo. El parrafo queda al nivel bajo de la imagen.

4. De esta forma queda mas ordenado el primer texto arriba luego la imagen en medio
y luego abajo.

5. 
* Agrega un **padding** y un **margin** a la imagen dentro de los <div>
* Ajusta el modelo de caja al tamaño del borde y por lo tanto saca la imagen de la caja.
* Se centra la caja en la mitad de la pantalla

*/



